*.rar
*.sln
*.vcxproj
*.filters
*.user
*.lastbuildstate
*.tlog
*.obj
*.log
*.pdb
*.exe
*.ilk

x64/Debug/TreeWidDragDemo.tlog/
x64/Debug/TreeWidDragDemo.tlog/
x64/Debug/
x64/
GeneratedFiles/Debug/
GeneratedFiles/
Resources/
.vs/

